.color-box {
    display: inline-block;
    width: 20px;
    height: 20px; 
    border: 1px solid black;
}

body {
    background-color: antiquewhite;
}

head {
    background-color: antiquewhite;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
}

.table th, .table td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.table-name {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.logo {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

#scatter-plot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
svg {
    display: block;
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: azure;
}

.tooltip strong {
    font-size: larger;
}